div {
   /* Background pattern from Toptal Subtle Patterns */
   background-image: url("D:\Udemy WebDev\Web Development\Personal\CSS-My Site\Images\combined_test2.png");
   height: 400px;
   width: 100%;
}
